/* Basic styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .content {
    padding: 40px 0;
  }
  
  .header {
    text-align: left;
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .list-group {
    padding-left: 0;
    list-style: none;
  }
  
  .list-group-item {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .list-group-item a {
    text-decoration: none;
    color: #669cd9;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .list-group-item a:hover {
    color: #ffc007;
  }
  
  /* Dark Mode */
  .dark-mode .header {
    color: white;
  }
  
  .dark-mode .list-group-item {
    background-color: #42424F;
  }
  
  .dark-mode .list-group-item a {
    color: #ffc007;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .header {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .list-group-item {
      padding: 15px;
    }
  
    .list-group-item a {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 0 10px;
    }
  
    .header {
      font-size: 1.3rem;
      margin-bottom: 15px;
    }
  
    .list-group-item {
      padding: 12px;
    }
  }
  